* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    background-color: rgb(232, 210, 176)
}

@media (max-width: 600px) {
 #header {
    flex-wrap: wrap;
 }
}

.logo {
    width: 80vw;
}

.logo img {
    width: 100%;
    height: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#header {
    position: relative;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nav-bar {
    background-color: #a41717;
    font-weight: 500;
}

nav ul {
    display: flex;
    flex-direction: row;
    /* width: 50vw; */
    /* justify-content: space-evenly; */
}

nav ul li {
    text-decoration: none;
    list-style: none;
}

nav ul li a {
    display: flex;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    padding: 0 20px;
    color: #515233;
}

a:hover {
    cursor: pointer;
    opacity: 0.9;
    color: #030303;
}

.starter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

section {
    display: block;
}

h2 {
    display: block;
    font-size: 25px;
    font-weight: bolder;
}

form>#email {
    width: 250px;
    height: 30px;
    text-align: center;
    justify-content: center;
    text-align: center;
    padding: auto;
    font-size: 18px;
}

#submit {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 120px;
    height: 40px;
    color: #2017a4;
    margin: 10px auto;
    font-size: 20px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#features {
    margin-top: 100px;
}

.grid {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

#Pricement {
    margin-top: 60px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(213, 180, 132);
}

.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #c7a312;
    font-weight: 400;
    width: 70px;
    height: 30px;
}

.product > button:hover{
    opacity: 0.9;
    scale:90% ;
    font-weight: 500;
}
li {
    list-style: none;
    padding: 5px 0;
}

footer {
    margin-top: 40px;
    padding: 10px;
}

footer  ul {
    display: flex;
    justify-content: flex-end;
}
footer  ul  li {
    padding: 0 15px;
}

footer  ul  li a {
    font-size: 15px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    opacity: 0.7;
}

footer  ul  li a:hover {
    opacity: 1;
}

footer p {
    display: flex;
    justify-content: flex-end;
}